
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #000;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.quizIcon {
    background-image: url("images/Quiz.png");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;
    width:100px; height:100px;
}
.container {
  width: auto;
  max-width: 75%;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

#social_media
{
	margin: 10px 0;
}
.center{
	text-align: center;
}